<form action="index.php?user-13" method="POST">
  <fieldset>   
	  <legend>{_lang_pleasefillinyournickname}</legend>
	    <br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="hidden" name="user" value="" /><input type="text" name="name"  value=""  class="form-control" placeholder="Benutzername" />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" >{_lang_newpassword}</button>
      </span></div></div></div>
  </fieldset>
</form>

