<br>
<div class="text-right">
{NEWTOPIC}
<br><br>
</div>
<table width="100%" class="table  table-bordered table-hover">
{EXPLODE}
  <tr>
	  <td style="min-width:20px;max-width:20px;padding:2px;vertical-align: middle;text-align:center;"><img src="include/images/forum/{ORD}.gif" style="min-width:15px;" border="0"></td>
    <td>{VORT} <a href="index.php?forum-showposts-{id}">{name}</a> <span class="badge" rel="tooltip" data-placement="top" title="{_lang_answers}">{rep}</span><br />
    <span style="font-size:0.875em;">{_lang_author}: {erst} <span class="visible-umb"><br></span><a href="index.php?forum-showposts-{id}-p{page}#{pid}">-{_lang_lastfrom}: {last}</a> am {date} Uhr</span></td>

		<td class="text-center hidden-xs" style="vertical-align: middle;">
      <span rel="tooltip" data-placement="top" title="{_lang_hits}" class="badge">{hit}</span>
</td>
  </tr>
{EXPLODE}
</table>
<br />

{MPL}

{EXPLODE}
<a class="btn btn-primary btn-xs" href="index.php?forum-editforum-{id}">{_lang_editforum}</a>	




